@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    padding:0;
    font-family: 'Ubuntu', serif;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
input,button,select{
    font-family: 'Ubuntu', serif;
}
select{
    cursor: pointer;
  padding: 10px;
  outline: 0;
  border: none;
  border-radius: 0;
  background-color: #ffffff8c;
  color: black;
}





.container{
    position: absolute;
    top: calc( 50% - 275px);
    left: calc( 50% - 200px);
    width: 400px;
    height: 550px;
    padding:20px;
    background-color:rgb(248, 248, 248);
    display: flex;
    border-radius:10px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search{
    height: 20%;
    display: flex;
    align-items: center;
}
.search form *{
    height:30px;
    padding:3px;
    box-sizing: border-box;
    border-radius: 5px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.search input {
    margin-left: 10px;
    margin-right:10px;
    width: 50%;
    text-indent: 10px;
}
.search select {
    width:40%;
}

.slider{
    height: 80%;
    padding:5px;
    display: flex;
    flex-direction: column;
}

.cadre{
    height:70%;
    position: relative;
}
.buttons{
    height:20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    font-size: 30px;
}
button {
    border-radius:50%;
    width:60px;
    height:60px;
    background-color:rgba(246, 246, 246, 0.856);
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.submit{
    height:10%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.submit input{
    border-radius:5px;
    border:none;
    padding:10px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.submit input:active{
    border:1px solid black;
}

.photo{
    width: 100%;
    height:100%;
}
.photo img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
} 
.region{
    height:10%;
    width:100%;
    background-color:rgba(255, 255, 255, 0.75);
    display:flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    top: 20px;
    font-size: 20px;
}