@keyframes plus {
    0%{
        transform:scale(0);
        color:#F1F1F1;
    }
    50%{
        color:#F1F1F1;
    }
    100%{
        transform:scale(1);
        color:black;
    }
}

.article:hover::after{
    animation-name : plus;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    display:block;
    content: "Cliquer pour voir plus";
    background-color:#F1F1F1;
    width:180px;
    position: absolute;
    line-height: 25px;
    height:25px;
    top:-30px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    border:1px solid black;
}